
<div id="page_container" *ngIf='project'>

    <div id="title">
        <h2>{{project.name}}</h2>
        <hr>
        
        <br>
    </div>

    
    
    <div id="ppal_content">

        <div id="detail">
            <img src="{{url+'get-image/'+ project.image}}" alt="" *ngIf='project.image' class="project_img">
                    
            <p>Categoria: {{project.category}}</p>
            <p>Lenguajes: {{project.languaje}}</p>
            <p>Plataforma: {{project.description}}</p>
            <p>Año de realización: {{project.year}}.</p>

            <br>
            <div *ngIf="confirm == false">
                <a [routerLink]="['/editar-proyecto', project._id]">Editar Proyecto</a>
                <a (click)="setConfirm(true)">Eliminar</a>
            </div>

            <div *ngIf="confirm == true">
                <p id="confirm">Estás seguro de eliminar este proyecto?</p><br>
                <a (click)="setConfirm(false)">Cancelar</a>
                <a (click)="deleteProject(project._id)">Confirmar</a>
            </div>

        </div>

        

    </div>

    <div id="sidebar">
        <h3>Menu</h3>

        <div><a [routerLink]="['/sobre_mi']" >Sobre mi</a></div>
        <div><a [routerLink]="['/proyectos']">Proyectos</a></div>
        <div><a [routerLink]="['/crear_proyecto']">Crear Proyecto</a></div>
        <div><a [routerLink]="['/contacto']">Contacto</a></div> 

    </div>
</div>
