<div id="body">

  <div id='header'>

    <div id='logo'>
      <h2 >Maoposites</h2>
    </div>

    <div id="nav">    
        <div><a [routerLink]="['/sobre_mi']" [routerLinkActive]="['actived']">Sobre mi</a></div>
        <div><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></div>
        <div><a [routerLink]="['/crear_proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></div>
        <div><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></div>      
    </div>

  </div>

      
  <div id="content">
    <router-outlet></router-outlet>
  </div>

  <div id='footer'>
    <div></div>
    <div></div>
    <div><h5>Copyright© 2021 || maoposites.com.</h5></div>
    <div><h6>Made with Angular.</h6></div>
    <div></div>
    
    
  </div>

</div>
